<html>
  <head>
    <title>Default Home Page</title>
  </head>
  <body>
    <h1 align="center">Vault Default Home Page</h1>
    <p align="center">Congratulations on a sucsessful server setup. Now to continue setup go to /admin and login with the password you chose on installation.</p>
    <br><br><br><br>
    <h1 align="center">For users</h1>
    <p align="center">What this means is that the site you are trying to reach is most likely under development or migration to a different url</p>
  </body>
</html>